{{- if .Values.fsm.gateway.autoScale.enable }}
{{- if (semverCompare ">=1.23-0" .Capabilities.KubeVersion.GitVersion) }}
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: {{ printf "fsm-gateway-%s-hpa" .Values.fsm.gateway.namespace }}
  namespace: {{ .Values.fsm.gateway.namespace }}
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: {{ printf "fsm-gateway-%s" .Values.fsm.gateway.namespace }}
  minReplicas: {{.Values.fsm.gateway.autoScale.minReplicas}}
  maxReplicas: {{.Values.fsm.gateway.autoScale.maxReplicas}}
  {{- with .Values.fsm.gateway.autoScale.metrics }}
  metrics:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  {{- with .Values.fsm.gateway.autoScale.behavior }}
  behavior:
    {{- toYaml . | nindent 4 }}
  {{- end }}
{{- else }}
apiVersion: autoscaling/v2beta2
kind: HorizontalPodAutoscaler
metadata:
  name: {{ printf "fsm-gateway-%s-hpa" .Values.fsm.gateway.namespace }}
  namespace: {{ .Values.fsm.gateway.namespace }}
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: {{ printf "fsm-gateway-%s" .Values.fsm.gateway.namespace }}
  minReplicas: {{.Values.fsm.gateway.autoScale.minReplicas}}
  maxReplicas: {{.Values.fsm.gateway.autoScale.maxReplicas}}
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: {{.Values.fsm.gateway.autoScale.cpu.targetAverageUtilization}}
  - type: Resource
    resource:
      name: memory
      target:
        type: Utilization
        averageUtilization: {{.Values.fsm.gateway.autoScale.memory.targetAverageUtilization}}
{{- end }}
{{- end }}