version: 2
updates:
  # Maintain dependencies for GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
      time: "06:00"
      timezone: "Asia/Shanghai"
    assignees:
      - "reaver-flomesh"
    labels:
      - "area/CI"
      - "kind/enhancement"
      - "change/github-actions"
      - "priority/P2"
      - "size/XS"
    # Milestone v1.7.0
    milestone: 54
    groups:
      actions-deps:
        patterns:
          - "*"
  # Maintain dependencies for Golang
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "daily"
      time: "06:00"
      timezone: "Asia/Shanghai"
    assignees:
      - "reaver-flomesh"
    labels:
      - "area/control-plane"
      - "kind/enhancement"
      - "change/dependencies"
      - "priority/P2"
      - "size/XS"
    # Milestone v1.7.0
    milestone: 54
    groups:
      k8s:
        patterns:
          - "k8s.io/*"
      gorm:
        patterns:
          - "gorm.io/*"
    ignore:
      - dependency-name: "k8s.io/*"
        update-types:
          - "version-update:semver-major"
          - "version-update:semver-minor"
      - dependency-name: "github.com/docker/docker"
        update-types:
          - "version-update:semver-major"
      - dependency-name: "github.com/norwoodj/helm-docs"
        update-types:
          - "version-update:semver-major"
          - "version-update:semver-minor"
      - dependency-name: "github.com/hashicorp/vault"
        update-types:
          - "version-update:semver-patch"
    open-pull-requests-limit: 10

