fsm:
  #
  # -- FSM control plane image parameters
  image:
    # -- Container image registry for control plane images
    registry: flomesh
    # -- Container image pull policy for control plane containers
    pullPolicy: IfNotPresent
    # -- Container image tag for control plane images
    tag: "1.4.0-alpha.3"
    # -- Image name defaults
    name:
      # -- fsm-gateway's image name
      fsmGateway: fsm-gateway
      # -- fsm-curl's image name
      fsmCurl: fsm-curl
    # -- Image digest (defaults to latest compatible tag)
    digest:
      # -- fsm-gateway's image digest
      fsmGateway: ""
      # -- fsm-curl's image digest
      fsmCurl: ""

  # -- `fsm-gateway` image pull secret
  imagePullSecrets: []

  # -- Identifier for the instance of a service mesh within a cluster
  meshName: fsm

  # -- Namespace to deploy FSM in. If not specified, the Helm release namespace is used.
  fsmNamespace: ""

  gateway:
    logLevel: info

    # -- FSM Gateway's service type, only LoadBalancer and NodePort are supported
    serviceType: LoadBalancer

    # -- FSM Gateway's replica count
    replicas: 1
    # -- FSM Gateway's container resource parameters.
    resources:
      limits:
        cpu: "2"
        memory: "1G"
      requests:
        cpu: "0.5"
        memory: "128M"

    # -- Pod disruption budget configuration
    podDisruptionBudget:
      # -- Enable Pod Disruption Budget
      enabled: false
      # -- Minimum number of pods that must be available
      minAvailable: 1

    # -- Auto scale configuration
    autoScale:
      # -- Enable Autoscale
      enable: false
      # -- Minimum replicas for autoscale
      minReplicas: 1
      # -- Maximum replicas for autoscale
      maxReplicas: 10
      # -- Auto scale cpu metrics, for v2beta2 API
      cpu:
        # -- Average target CPU utilization (%)
        targetAverageUtilization: 80
      # -- Auto scale memory metrics, for v2beta2 API
      memory:
        # -- Average target memory utilization (%)
        targetAverageUtilization: 80
      # -- Auto scale metrics, for v2 API
      metrics:
      - type: Resource
        resource:
          name: cpu
          target:
            type: Utilization
            averageUtilization: 80
      - type: Resource
        resource:
          name: memory
          target:
            type: Utilization
            averageUtilization: 80
      # -- Auto scale behavior, for v2 API
      behavior:
        scaleDown:
          stabilizationWindowSeconds: 300
          policies:
          - type: Pods
            value: 1
            periodSeconds: 60
          - type: Percent
            value: 10
            periodSeconds: 60
          selectPolicy: Min
        scaleUp:
          stabilizationWindowSeconds: 0
          policies:
            - type: Percent
              value: 100
              periodSeconds: 15
            - type: Pods
              value: 2
              periodSeconds: 15
          selectPolicy: Max
    # Extra env variables those will be appended to gateway container
    env:
      - name: GIN_MODE
        value: release
    # -- FSM Gateway Controller's pod labels
    podLabels: {}
    # -- FSM Gateway Controller's pod annotations
    podAnnotations: {}
    # -- FSM Gateway Controller's pod security context
    podSecurityContext:
      runAsNonRoot: true
      runAsUser: 65532
      runAsGroup: 65532
      seccompProfile:
        type: RuntimeDefault
      #      sysctls:
      #        - name: net.ipv4.ip_unprivileged_port_start
      #          value: "0"
      # fsGroup: 2000
    # -- FSM Gateway Controller's container security context
    securityContext:
      allowPrivilegeEscalation: false
      capabilities:
        drop:
          - ALL
    #        add:
    #        - NET_BIND_SERVICE

    ## Affinity settings for pod assignment
    ## Ref: https://kubernetes.io/docs/concepts/configuration/assign-pod-node/
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - matchExpressions:
                - key: kubernetes.io/os
                  operator: In
                  values:
                    - linux
                - key: kubernetes.io/arch
                  operator: In
                  values:
                    - amd64
                    - arm64
      podAntiAffinity:
        preferredDuringSchedulingIgnoredDuringExecution:
          - podAffinityTerm:
              labelSelector:
                matchExpressions:
                  - key: app
                    operator: In
                    values:
                      - fsm-gateway
              topologyKey: kubernetes.io/hostname
            weight: 100

    # -- Node tolerations applied to control plane pods.
    # The specified tolerations allow pods to schedule onto nodes with matching taints.
    tolerations: []

    # -- Node selector applied to control plane pods.
    nodeSelector: {}

    # -- initContainer resource configuration
    initResources:
      limits:
        cpu: "500m"
        memory: "512M"
      requests:
        cpu: "200m"
        memory: "128M"

    # -- NodePort service configuration
    #    nodePorts:
    #      - port: 80
    #        nodePort: 30080
    #      - port: 443
    #        nodePort: 30443
    #      - port: 53
    #        nodePort: 30053
    nodePorts: []

    # -- Gateway's namespace, not overridable by parameterRef
    namespace: default

    # -- Gateway's name, not overridable by parameterRef
    name: ""

    # -- Gateway's service name, not overridable by parameterRef
    serviceName: ""

    # -- Gateway's infrastructure, override by gateway.spec.infrastructure.annotations and gateway.spec.infrastructure.labels
    # -- NOT override by parameterRef
    infrastructure:
      annotations: {}
      labels: {}

    # -- Gateway's listeners, not overridable by parameterRef
    listeners: {}



