apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ .Release.Name }}
  labels:
    {{- include "fsm.labels" . | nindent 4 }}
rules:
  - apiGroups: ["apps"]
    resources: ["daemonsets", "deployments", "replicasets", "statefulsets"]
    verbs: ["get", "list", "watch", "create", "update", "patch", "delete"]
  - apiGroups: ["networking.k8s.io"]
    resources: ["ingressclasses"]
    verbs: ["list", "get", "watch"]
  - apiGroups: [ "networking.k8s.io" ]
    resources: [ "ingresses" ]
    verbs: [ "list", "get", "watch", "create", "update", "patch", "delete" ]
  - apiGroups: ["batch"]
    resources: ["jobs"]
    verbs: ["list", "get", "watch"]
  - apiGroups: [ "" ]
    resources: [ "namespaces" ]
    verbs: [ "list", "get", "watch", "create", "update", "patch", "delete" ]
  - apiGroups: [ "" ]
    resources: [ "endpoints", "pods", "services", "secrets", "configmaps", "volumes", "serviceaccounts" ]
    verbs: [ "get", "list", "watch", "create", "update", "patch", "delete" ]
  - apiGroups: [""]
    resources: ["services/status"]
    verbs: ["get", "list", "watch", "create", "update", "patch"]
  - apiGroups: [""]
    resources: ["nodes"]
    verbs: ["get", "list", "watch"]
{{- if (semverCompare ">=1.21-0" .Capabilities.KubeVersion.GitVersion) }}
  - apiGroups: ["discovery.k8s.io"]
    resources: ["endpointslices"]
    verbs: ["get", "list", "watch", "create", "update", "patch"]
{{- end }}

  - apiGroups: [ "policy" ]
    resources: [ "poddisruptionbudgets" ]
    verbs: [ "get", "list", "watch", "create", "update", "patch", "delete"]

  - apiGroups: [ "autoscaling" ]
    resources: [ "horizontalpodautoscalers" ]
    verbs: [ "get", "list", "watch", "create", "update", "patch", "delete"]

  # Port forwarding is needed for the FSM pod to be able to connect
  # to participating Sidecars and fetch their configuration.
  # This is used by the FSM debugging system.
  - apiGroups: [""]
    resources: ["pods", "pods/log", "pods/portforward"]
    verbs: ["get", "list", "create"]

  - apiGroups: [""]
    resources: ["services", "endpoints"]
    verbs: ["create", "update", "delete"]
  - apiGroups: [""]
    resources: ["events"]
    verbs: ["list", "get", "create", "watch", "patch", "update"]
  - apiGroups: [""]
    resources: ["secrets"]
    verbs: ["create", "update", "delete", "patch"]
  - apiGroups: [""]
    resources: ["configmaps"]
    verbs: ["create", "update"]
  - apiGroups: ["admissionregistration.k8s.io"]
    resources: ["mutatingwebhookconfigurations", "validatingwebhookconfigurations"]
    verbs: ["get", "list", "watch", "create", "update", "patch", "delete"]
  - apiGroups: ["apiextensions.k8s.io"]
    resources: ["customresourcedefinitions"]
    verbs: ["get", "list", "watch", "create", "update", "patch", "delete"]
  - apiGroups: [ "rbac.authorization.k8s.io" ]
    resources: [ "roles", "rolebindings", "clusterroles", "clusterrolebindings" ]
    verbs: [ "get", "list", "watch", "create", "update", "patch", "delete" ]
  - apiGroups: ["config.flomesh.io"]
    resources: ["meshconfigs", "meshrootcertificates"]
    verbs: ["get", "list", "watch", "create", "update", "patch", "delete"]
  - apiGroups: ["config.flomesh.io"]
    resources: ["meshrootcertificates/status"]
    verbs: ["update"]
  - apiGroups: ["split.smi-spec.io"]
    resources: ["trafficsplits"]
    verbs: ["list", "get", "watch"]
  - apiGroups: ["access.smi-spec.io"]
    resources: ["traffictargets"]
    verbs: ["list", "get", "watch"]
  - apiGroups: ["specs.smi-spec.io"]
    resources: ["httproutegroups", "tcproutes"]
    verbs: ["list", "get", "watch"]

  # FSM's custom policy API
  - apiGroups: ["policy.flomesh.io"]
    resources: ["egresses", "egressgateways", "ingressbackends", "accesscontrols", "accesscerts", "isolations", "retries", "upstreamtrafficsettings"]
    verbs: ["list", "get", "watch"]
  - apiGroups: ["policy.flomesh.io"]
    resources: ["ingressbackends/status", "accesscontrols/status", "accesscerts/status", "upstreamtrafficsettings/status"]
    verbs: ["update"]

  # FSM's MultiCluster resource API
  - apiGroups: ["multicluster.flomesh.io"]
    resources: ["clusters", "serviceimports", "serviceexports", "globaltrafficpolicies"]
    verbs: ["get", "list", "watch", "create", "update", "patch", "delete"]

  - apiGroups: ["multicluster.flomesh.io"]
    resources: ["clusters/finalizers", "serviceimports/finalizers", "serviceexports/finalizers", "globaltrafficpolicies/finalizers"]
    verbs: ["update"]

  - apiGroups: ["multicluster.flomesh.io"]
    resources: ["clusters/status", "serviceimports/status", "serviceexports/status", "globaltrafficpolicies/status"]
    verbs: ["get", "patch", "update"]

  # FSM's custom plugin API
  - apiGroups: ["plugin.flomesh.io"]
    resources: ["plugins", "pluginchains", "pluginconfigs"]
    verbs: ["list", "get", "watch"]
  - apiGroups: ["plugin.flomesh.io"]
    resources: ["plugins/status", "pluginchains/status", "pluginconfigs/status"]
    verbs: ["update"]

  # FSM's custom machine API
  - apiGroups: ["machine.flomesh.io"]
    resources: ["virtualmachines"]
    verbs: ["list", "get", "watch", "update"]
  - apiGroups: ["machine.flomesh.io"]
    resources: ["virtualmachines/status"]
    verbs: ["update"]

  # FSM's custom connector API
  - apiGroups: ["connector.flomesh.io"]
    resources: ["consulconnectors", "eurekaconnectors", "nacosconnectors", "machineconnectors", "gatewayconnectors"]
    verbs: ["list", "get", "watch", "update"]
  - apiGroups: ["connector.flomesh.io"]
    resources: ["consulconnectors/status", "eurekaconnectors/status", "nacosconnectors/status", "machineconnectors/status", "gatewayconnectors/status"]
    verbs: ["update"]

  # FSM's custom xnetwork API
  - apiGroups: ["xnetwork.flomesh.io"]
    resources: ["accesscontrols" ]
    verbs: ["list", "get", "watch"]

  # FSM's NamespacedIngress API
  - apiGroups: [ "networking.flomesh.io" ]
    resources: [ "namespacedingresses" ]
    verbs: [ "get", "list", "watch", "create", "update", "patch", "delete" ]
  - apiGroups: [ "networking.flomesh.io" ]
    resources: [ "namespacedingresses/finalizers" ]
    verbs: [ "update" ]
  - apiGroups: [ "networking.flomesh.io" ]
    resources: [ "namespacedingresses/status" ]
    verbs: [ "get", "patch", "update" ]

  # GatewayAPI
  - apiGroups: [ "gateway.networking.k8s.io" ]
    resources: [ "gatewayclasses", "gateways", "httproutes", "grpcroutes", "referencegrants", "tcproutes", "tlsroutes", "udproutes", "backendtlspolicies" ]
    verbs: [ "get", "list", "watch", "create", "update", "patch", "delete" ]
  - apiGroups: [ "gateway.networking.k8s.io" ]
    resources: [ "gatewayclasses/finalizers", "gateways/finalizers", "httproutes/finalizers", "grpcroutes/finalizers", "referencegrants/finalizers", "tcproutes/finalizers", "tlsroutes/finalizers", "udproutes/finalizers", "backendtlspolicies/finalizers" ]
    verbs: [ "update" ]
  - apiGroups: [ "gateway.networking.k8s.io" ]
    resources: [ "gatewayclasses/status", "gateways/status", "httproutes/status", "grpcroutes/status", "referencegrants/status", "tcproutes/status", "tlsroutes/status", "udproutes/status", "backendtlspolicies/status" ]
    verbs: [ "get", "patch", "update" ]

  # GatewayAPI Extension
  - apiGroups: [ "extension.gateway.flomesh.io" ]
    resources: [ "filters", "filterdefinitions", "listenerfilters", "circuitbreakers", "faultinjections", "ratelimits", "httplogs", "metrics", "zipkins", "filterconfigs", "proxytags" ]
    verbs: [ "get", "list", "watch", "create", "update", "patch", "delete" ]
  - apiGroups: [ "extension.gateway.flomesh.io" ]
    resources: [ "filters/finalizers", "filterdefinitions/finalizers", "listenerfilters/finalizers", "circuitbreakers/finalizers", "faultinjections/finalizers", "ratelimits/finalizers", "httplogs/finalizers", "metrics/finalizers", "zipkins/finalizers", "filterconfigs/finalizers", "proxytags/finalizers" ]
    verbs: [ "update" ]
  - apiGroups: [ "extension.gateway.flomesh.io" ]
    resources: [ "filters/status", "filterdefinitions/status", "listenerfilters/status", "circuitbreakers/status", "faultinjections/status", "ratelimits/status", "httplogs/status", "metrics/status", "zipkins/status", "filterconfigs/status", "proxytags/status" ]
    verbs: [ "get", "patch", "update" ]

  # PolicyAttachment
  - apiGroups: [ "gateway.flomesh.io" ]
    resources: [ "healthcheckpolicies", "retrypolicies", "backendlbpolicies" ]
    verbs: [ "get", "list", "watch", "create", "update", "patch", "delete" ]
  - apiGroups: [ "gateway.flomesh.io" ]
    resources: [ "healthcheckpolicies/finalizers", "retrypolicies/finalizers", "backendlbpolicies/finalizers" ]
    verbs: [ "update" ]
  - apiGroups: [ "gateway.flomesh.io" ]
    resources: [ "healthcheckpolicies/status", "retrypolicies/status", "backendlbpolicies/status" ]
    verbs: [ "get", "patch", "update" ]

  # Used for interacting with cert-manager CertificateRequest resources.
  - apiGroups: ["cert-manager.io"]
    resources: ["certificaterequests"]
    verbs: ["list", "get", "watch", "create", "delete"]

  {{- if and (.Capabilities.APIVersions.Has "security.openshift.io/v1") .Values.fsm.enableFluentbit }}
  - apiGroups: ["security.openshift.io"]
    resourceNames: ["hostaccess"]
    resources: ["securitycontextconstraints"]
    verbs: ["use"]
  {{- end }}

---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ .Release.Name }}
  namespace: {{ include "fsm.namespace" . }}
  labels:
    {{- include "fsm.labels" . | nindent 4 }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ .Release.Name }}
  labels:
    {{- include "fsm.labels" . | nindent 4 }}
subjects:
  - kind: ServiceAccount
    name: {{ .Release.Name }}
    namespace: {{ include "fsm.namespace" . }}
roleRef:
  kind: ClusterRole
  name: {{ .Release.Name }}
  apiGroup: rbac.authorization.k8s.io
