{{- if .Values.fsm.remoteLogging.enable }}
apiVersion: v1
kind: Secret
metadata:
  namespace: {{ include "fsm.namespace" . }}
  name: {{ .Values.fsm.remoteLogging.secretName }}
type: Opaque
data:
  url: {{ printf "http://%s:%d" .Values.fsm.remoteLogging.address ((.Values.fsm.remoteLogging.port | int)) | b64enc }}
  token: {{ .Values.fsm.remoteLogging.authorization | b64enc }}
{{- end }}