{{- if .Values.fsm.deployJaeger }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: fsm-jaeger
  namespace: {{ include "fsm.namespace" . }}
  labels:
    {{- include "fsm.labels" . | nindent 4 }}
    app: fsm-jaeger
spec:
  replicas: 1
  selector:
    matchLabels:
      app: fsm-jaeger
  template:
    metadata:
      labels:
        {{- include "fsm.labels" . | nindent 8 }}
        app: fsm-jaeger
    spec:
      {{- if not (.Capabilities.APIVersions.Has "security.openshift.io/v1") }}
      {{- include "restricted.securityContext" . | nindent 6 }}
      {{- end }}
      serviceAccountName: jaeger
      containers:
      - name: jaeger
        image: {{ .Values.fsm.tracing.image }}
        args:
          - --collector.zipkin.host-port={{ .Values.fsm.tracing.port }}
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: {{ .Values.fsm.tracing.port }}
        resources:
          limits:
            cpu: 500m
            memory: 512M
          requests:
            cpu: 100m
            memory: 256M
      {{- if .Values.fsm.tracing.affinity }}
      affinity:
      {{- toYaml .Values.fsm.tracing.affinity | nindent 8 }}
      {{- end }}
      {{- if .Values.fsm.tracing.nodeSelector }}
      nodeSelector:
      {{- toYaml .Values.fsm.tracing.nodeSelector | nindent 8 }}
      {{- end }}
      {{- if .Values.fsm.tracing.tolerations }}
      tolerations:
      {{- toYaml .Values.fsm.tracing.tolerations | nindent 8 }}
      {{- end }}
{{- end }}
