apiVersion: v1
kind: ConfigMap
metadata:
  name: preset-mesh-config
  namespace: {{ include "fsm.namespace" . }}
data:
  preset-mesh-config.json: |
    {
      "clusterSet": {
        "properties": []
      },
      "sidecar": {
        "enablePrivilegedInitContainer": {{.Values.fsm.enablePrivilegedInitContainer | mustToJson}},
        "logLevel": {{.Values.fsm.sidecarLogLevel | mustToJson}},
        "maxDataPlaneConnections": {{.Values.fsm.maxDataPlaneConnections | mustToJson}},
        "configResyncInterval": {{.Values.fsm.configResyncInterval | mustToJson}},
        "sidecarClass": {{.Values.fsm.sidecarClass | mustToJson }},
        "sidecarImage": {{.Values.fsm.sidecarImage | mustToJson }},
        "sidecarDrivers": {{.Values.fsm.sidecarDrivers | mustToJson }},
        "localProxyMode": {{.Values.fsm.localProxyMode | mustToJson}},
        "localDNSProxy": {{.Values.fsm.localDNSProxy | mustToJson}}
      },
      "traffic": {
        "interceptionMode": {{.Values.fsm.trafficInterceptionMode | mustToJson}},
        "enableEgress": {{.Values.fsm.enableEgress | mustToJson}},
        "enablePermissiveTrafficPolicyMode": {{.Values.fsm.enablePermissiveTrafficPolicy | mustToJson}},
        "outboundPortExclusionList": {{.Values.fsm.outboundPortExclusionList | mustToJson}},
        "inboundPortExclusionList": {{.Values.fsm.inboundPortExclusionList | mustToJson}},
        "outboundIPRangeExclusionList": {{.Values.fsm.outboundIPRangeExclusionList | mustToJson}},
        "outboundIPRangeInclusionList": {{.Values.fsm.outboundIPRangeInclusionList | mustToJson}},
        "networkInterfaceExclusionList": {{.Values.fsm.networkInterfaceExclusionList | mustToJson}}
      },
      "observability": {
        "enableDebugServer": {{.Values.fsm.enableDebugServer | mustToJson}},
        "fsmLogLevel": {{.Values.fsm.controllerLogLevel | mustToJson}},
        "tracing": {
          "enable": {{.Values.fsm.tracing.enable | mustToJson}}{{- if .Values.fsm.tracing.enable }},{{- end }}
          {{- if .Values.fsm.tracing.enable }}
          "port": {{.Values.fsm.tracing.port | mustToJson}},
          "address": {{.Values.fsm.tracing.address | mustToJson}},
          "endpoint": {{.Values.fsm.tracing.endpoint | mustToJson}},
          "sampledFraction": {{.Values.fsm.tracing.sampledFraction | mustToJson}}
          {{- end }}
        },
        "remoteLogging": {
          "enable": {{.Values.fsm.remoteLogging.enable | mustToJson}}{{- if .Values.fsm.remoteLogging.enable }},{{- end }}
          {{- if .Values.fsm.remoteLogging.enable }}
          "port": {{.Values.fsm.remoteLogging.port | mustToJson}},
          "address": {{.Values.fsm.remoteLogging.address | mustToJson}},
          "endpoint": {{.Values.fsm.remoteLogging.endpoint | mustToJson}},
          "authorization": {{.Values.fsm.remoteLogging.authorization | mustToJson}},
          "sampledFraction": {{.Values.fsm.remoteLogging.sampledFraction | mustToJson}}
          {{- end }}
        }
      },
      "certificate": {
        "serviceCertValidityDuration": {{.Values.fsm.certificateProvider.serviceCertValidityDuration | mustToJson}},
        "certKeyBitSize": {{.Values.fsm.certificateProvider.certKeyBitSize | mustToJson}}
      },
      "repoServer": {
        "ipaddr": {{.Values.fsm.repoServer.ipaddr | mustToJson}},
        "codebase": {{.Values.fsm.repoServer.codebase | mustToJson}}
      },
      "featureFlags": {
        "enableEgressPolicy": {{.Values.fsm.featureFlags.enableEgressPolicy | mustToJson}},
        "enableSnapshotCacheMode": {{.Values.fsm.featureFlags.enableSnapshotCacheMode | mustToJson}},
        "enableAsyncProxyServiceMapping": {{.Values.fsm.featureFlags.enableAsyncProxyServiceMapping | mustToJson}},
        "enableIngressBackendPolicy": {{.Values.fsm.featureFlags.enableIngressBackendPolicy | mustToJson}},
        "enableAccessControlPolicy": {{.Values.fsm.featureFlags.enableAccessControlPolicy | mustToJson}},
        "enableAccessCertPolicy": {{.Values.fsm.featureFlags.enableAccessCertPolicy | mustToJson}},
        "enableSidecarActiveHealthChecks": {{.Values.fsm.featureFlags.enableSidecarActiveHealthChecks | mustToJson}},
        "enableRetryPolicy": {{.Values.fsm.featureFlags.enableRetryPolicy | mustToJson}},
        "enablePluginPolicy": {{.Values.fsm.featureFlags.enablePluginPolicy | mustToJson}}
      },
      "pluginChains": {{.Values.fsm.pluginChains | mustToJson }}
    }
