apiVersion: v1
kind: ConfigMap
metadata:
  name: preset-mesh-config
  namespace: {{ include "fsm.namespace" . }}
data:
  preset-mesh-config.json: |
    {
      "clusterSet": {
        "properties": [],
        "isManaged": {{.Values.clusterSet.isManaged | mustToJson}},
        "uid": "{{ uuidv4 }}",
        "region": {{.Values.clusterSet.region | mustToJson}},
        "zone": {{.Values.clusterSet.zone | mustToJson}},
        "group": {{.Values.clusterSet.group | mustToJson}},
        "name": {{.Values.clusterSet.name | mustToJson}},
        "controlPlaneUID": {{.Values.clusterSet.controlPlaneUID | mustToJson}}
      },
      "connector": {
        "DO_NOT_EDIT_viaGateway": "viaGateway Managed by fsm-connector-gateway."
      },
      "sidecar": {
        "enablePrivilegedInitContainer": {{.Values.fsm.enablePrivilegedInitContainer | mustToJson}},
        "logLevel": {{.Values.fsm.sidecar.sidecarLogLevel | mustToJson}},
        "maxDataPlaneConnections": {{.Values.fsm.maxDataPlaneConnections | mustToJson}},
        "configResyncInterval": {{.Values.fsm.configResyncInterval | mustToJson}},
        "compressConfig": {{.Values.fsm.sidecar.compressConfig | mustToJson}},
        "sidecarImage": "{{ include "sidecar.image" .}}",
        "sidecarDisabledMTLS": {{.Values.fsm.sidecar.sidecarDisabledMTLS | mustToJson }},
        "sidecarTimeout": {{.Values.fsm.sidecar.sidecarTimeout | mustToJson}},
        "localProxyMode": {{.Values.fsm.localProxyMode | mustToJson}},
        "localDNSProxy": {{.Values.fsm.localDNSProxy | mustToJson}}
      },
      "traffic": {
        "interceptionMode": {{.Values.fsm.trafficInterceptionMode | mustToJson}},
        "enableEgress": {{.Values.fsm.enableEgress | mustToJson}},
        "enablePermissiveTrafficPolicyMode": {{.Values.fsm.enablePermissiveTrafficPolicy | mustToJson}},
        "http1PerRequestLoadBalancing": {{.Values.fsm.http1PerRequestLoadBalancing | mustToJson}},
        "http2PerRequestLoadBalancing": {{.Values.fsm.http2PerRequestLoadBalancing | mustToJson}},
        "serviceAccessMode": {{.Values.fsm.serviceAccessMode | mustToJson}},
        "outboundPortExclusionList": {{.Values.fsm.outboundPortExclusionList | mustToJson}},
        "inboundPortExclusionList": {{.Values.fsm.inboundPortExclusionList | mustToJson}},
        "outboundIPRangeExclusionList": {{.Values.fsm.outboundIPRangeExclusionList | mustToJson}},
        "outboundIPRangeInclusionList": {{.Values.fsm.outboundIPRangeInclusionList | mustToJson}},
        "networkInterfaceExclusionList": {{.Values.fsm.networkInterfaceExclusionList | mustToJson}}
      },
      "observability": {
        "fsmLogLevel": {{.Values.fsm.controllerLogLevel | mustToJson}},
        "tracing": {
          "enable": {{.Values.fsm.tracing.enable | mustToJson}}{{- if .Values.fsm.tracing.enable }},{{- end }}
          {{- if .Values.fsm.tracing.enable }}
          "port": {{.Values.fsm.tracing.port | mustToJson}},
          "address": {{.Values.fsm.tracing.address | mustToJson}},
          "endpoint": {{.Values.fsm.tracing.endpoint | mustToJson}},
          "sampledFraction": {{.Values.fsm.tracing.sampledFraction | mustToJson}}
          {{- end }}
        },
        "remoteLogging": {
          "enable": {{.Values.fsm.remoteLogging.enable | mustToJson}},
          "secretName": {{.Values.fsm.remoteLogging.secretName | mustToJson}}{{- if .Values.fsm.remoteLogging.enable }},{{- end }}
          {{- if .Values.fsm.remoteLogging.enable }}
          "level": {{.Values.fsm.remoteLogging.level | mustToJson}},
          "port": {{.Values.fsm.remoteLogging.port | mustToJson}},
          "address": {{.Values.fsm.remoteLogging.address | mustToJson}},
          "endpoint": {{.Values.fsm.remoteLogging.endpoint | mustToJson}},
          "authorization": {{.Values.fsm.remoteLogging.authorization | mustToJson}},
          "sampledFraction": {{.Values.fsm.remoteLogging.sampledFraction | mustToJson}}
          {{- end }}
        }
      },
      "certificate": {
        "serviceCertValidityDuration": {{.Values.fsm.certificateProvider.serviceCertValidityDuration | mustToJson}},
        "certKeyBitSize": {{.Values.fsm.certificateProvider.certKeyBitSize | mustToJson}}
      },
      "repoServer": {
        "ipaddr": {{.Values.fsm.repoServer.ipaddr | mustToJson}},
        "port": {{.Values.fsm.repoServer.port | mustToJson}},
        "codebase": {{.Values.fsm.repoServer.codebase | mustToJson}}
      },
      "featureFlags": {
        "enableEgressPolicy": {{.Values.fsm.featureFlags.enableEgressPolicy | mustToJson}},
        "enableSnapshotCacheMode": {{.Values.fsm.featureFlags.enableSnapshotCacheMode | mustToJson}},
        "enableAsyncProxyServiceMapping": {{.Values.fsm.featureFlags.enableAsyncProxyServiceMapping | mustToJson}},
        "enableIngressBackendPolicy": {{.Values.fsm.featureFlags.enableIngressBackendPolicy | mustToJson}},
        "enableAccessControlPolicy": {{.Values.fsm.featureFlags.enableAccessControlPolicy | mustToJson}},
        "enableAccessCertPolicy": {{.Values.fsm.featureFlags.enableAccessCertPolicy | mustToJson}},
        "enableSidecarPrettyConfig": {{.Values.fsm.featureFlags.enableSidecarPrettyConfig | mustToJson}},
        "enableSidecarActiveHealthChecks": {{.Values.fsm.featureFlags.enableSidecarActiveHealthChecks | mustToJson}},
        "enableRetryPolicy": {{.Values.fsm.featureFlags.enableRetryPolicy | mustToJson}},
        "enablePluginPolicy": {{.Values.fsm.featureFlags.enablePluginPolicy | mustToJson}},
        "enableAutoDefaultRoute": {{.Values.fsm.featureFlags.enableAutoDefaultRoute | mustToJson}},
        "enableValidateGatewayListenerHostname": {{.Values.fsm.featureFlags.enableValidateGatewayListenerHostname | mustToJson}},
        "enableValidateHTTPRouteHostnames": {{.Values.fsm.featureFlags.enableValidateHTTPRouteHostnames | mustToJson}},
        "enableValidateGRPCRouteHostnames": {{.Values.fsm.featureFlags.enableValidateGRPCRouteHostnames | mustToJson}},
        "enableValidateTLSRouteHostnames": {{.Values.fsm.featureFlags.enableValidateTLSRouteHostnames | mustToJson}},
        "useEndpointSlicesForGateway": {{ (and .Values.fsm.featureFlags.useEndpointSlicesForGateway (semverCompare ">=1.21-0" .Capabilities.KubeVersion.GitVersion)) | mustToJson }},
        "dropRouteRuleIfNoAvailableBackends": {{.Values.fsm.featureFlags.dropRouteRuleIfNoAvailableBackends | mustToJson}}
      },
      "pluginChains": {{.Values.fsm.pluginChains | mustToJson }},
      "ingress": {
        "enabled": {{ and .Values.fsm.fsmIngress.enabled (not .Values.fsm.fsmGateway.enabled )}},
        "namespaced": {{ .Values.fsm.fsmIngress.namespaced }},
        "logLevel": "{{ .Values.fsm.fsmIngress.logLevel }}",
        "type": "{{ .Values.fsm.fsmIngress.service.type }}",
        "http": {
          "enabled": {{ .Values.fsm.fsmIngress.http.enabled }},
          "bind": {{ .Values.fsm.fsmIngress.http.port }},
          "listen": {{ .Values.fsm.fsmIngress.http.containerPort }},
          "nodePort": {{ default 0 .Values.fsm.fsmIngress.http.nodePort }}
        },
        "tls": {
          "enabled": {{ .Values.fsm.fsmIngress.tls.enabled }},
          "bind": {{ .Values.fsm.fsmIngress.tls.port }},
          "listen": {{ .Values.fsm.fsmIngress.tls.containerPort }},
          "nodePort": {{ default 0 .Values.fsm.fsmIngress.tls.nodePort }},
          "mTLS": {{ .Values.fsm.fsmIngress.tls.mTLS }},
          "sslPassthrough": {
            "enabled": {{ .Values.fsm.fsmIngress.tls.sslPassthrough.enabled }},
            "upstreamPort": {{ .Values.fsm.fsmIngress.tls.sslPassthrough.upstreamPort }}
          }
        }
      },
      "gatewayAPI": {
        "enabled": {{ and .Values.fsm.fsmGateway.enabled (not .Values.fsm.fsmIngress.enabled) }},
        "logLevel": "{{ .Values.fsm.fsmGateway.logLevel }}"
      },
      "serviceLB": {
        "enabled": {{ .Values.fsm.serviceLB.enabled }},
        "image": "{{ include "serviceLB.image" . }}"
      },
      "flb": {
        "enabled": {{ .Values.fsm.flb.enabled }},
        "strictMode": {{ .Values.fsm.flb.strictMode }},
        "upstreamMode": "{{ .Values.fsm.flb.upstreamMode }}",
        "secretName": "{{ .Values.fsm.flb.secretName }}"
      },
      "egressGateway": {
        "enabled": {{ .Values.fsm.egressGateway.enabled }},
        "logLevel": "{{ .Values.fsm.egressGateway.logLevel }}",
        "mode": "{{ .Values.fsm.egressGateway.mode }}",
        "port": {{ .Values.fsm.egressGateway.port }},
        "adminPort": {{ .Values.fsm.egressGateway.adminPort }},
        "replicas": {{ .Values.fsm.egressGateway.replicaCount }}
      },
      "image": {
        "registry": "{{ .Values.fsm.image.registry }}",
        "tag": "{{ .Values.fsm.image.tag }}",
        "pullPolicy": "{{ .Values.fsm.image.pullPolicy }}"
      },
      "misc": {
        "repoServerImage": "{{ include "repoServer.image" . }}"
      }
    }
