name: Backport PRs

on:
  pull_request:
    branches:
      - main
    types: ['closed']

env:
  GITHUB_TOKEN: ${{ secrets.WORKFLOW_PAT }}

jobs:
  backport_v1_4:
    runs-on: ubuntu-latest
    name: Backport into release/v1.4
    if: ${{ !startsWith(github.event.pull_request.title, '[cherry-pick]') && github.repository == 'flomesh-io/fsm' && github.event.pull_request.merged == true }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Backport into release/v1.4
        uses: korthout/backport-action@v3
        with:
          copy_assignees: true
          copy_labels_pattern: '[\s\S]+'
          copy_requested_reviewers: true
          github_token: ${{ secrets.WORKFLOW_PAT }}
          pull_title: '[backport] ${pull_title}'
          pull_description: 'Backport #${pull_number} to `${target_branch}`.'
          target_branches: 'release/v1.4'


