name: Build PIPY Images

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'pipy release tag'
        required: true
        type: string

jobs:
  debian:
    name: Build pipy debian images
    strategy:
      fail-fast: false
      matrix:
        platform:
          - linux/amd64
          - linux/arm64
        include:
          - platform: linux/amd64
            runner: ubuntu-latest
            suffix: amd64
          - platform: linux/arm64
            runner: [ self-hosted, ARM64 ]
            suffix: arm64

    runs-on: ${{ matrix.runner }}
    steps:
      - name: Login to DockerHub
        uses: docker/login-action@v3.3.0
        with:
          username: ${{ secrets.RELEASE_DOCKER_USER }}
          password: ${{ secrets.RELEASE_DOCKER_PASS }}

      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Build and Push
        run: |
          docker build --platform=${{ matrix.platform }} \
            -t flomesh/pipy:${{ inputs.tag }}-debian-${{ matrix.suffix }} \
            -f ./dockerfiles/Dockerfile.pipy-debian \
            --build-arg PIPY_VERSION=${{ inputs.tag }} \
            --push .

  debian-manifest:
    name: Create Docker manifest
    runs-on: ubuntu-22.04
    needs: [debian]
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3.2.0

      - name: Login to DockerHub
        uses: docker/login-action@v3.3.0
        with:
          username: ${{ secrets.RELEASE_DOCKER_USER }}
          password: ${{ secrets.RELEASE_DOCKER_PASS }}

      - name: Create Docker manifest
        run: |
          docker manifest create flomesh/pipy:${{ inputs.tag }}-debian \
            --amend flomesh/pipy:${{ inputs.tag }}-debian-amd64 \
            --amend flomesh/pipy:${{ inputs.tag }}-debian-arm64
          docker manifest push flomesh/pipy:${{ inputs.tag }}-debian

  pipy-nonroot:
    name: Build pipy nonroot image
    runs-on: ubuntu-22.04
    needs: debian-manifest
    strategy:
      matrix:
        id: [ "nonroot", "debug-nonroot" ]
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3.2.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3.7.1

      - name: Login to DockerHub
        uses: docker/login-action@v3.3.0
        with:
          username: ${{ secrets.RELEASE_DOCKER_USER }}
          password: ${{ secrets.RELEASE_DOCKER_PASS }}

      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          
      - name: Docker meta
        id: docker_meta
        uses: crazy-max/ghaction-docker-meta@v5.6.1
        with:
          images: flomesh/pipy
          tags: |
            type=raw,${{ inputs.tag }}-${{ matrix.id }}

      - name: Build and Push
        uses: docker/build-push-action@v6.10.0
        with:
          context: .
          file: ./dockerfiles/Dockerfile.pipy-nonroot
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ steps.docker_meta.outputs.tags }}
          labels: ${{ steps.docker_meta.outputs.labels }}
          build-args: |
            DISTROLESS_TAG=${{ matrix.id }}
            PIPY_VERSION=${{ inputs.tag }}

  euler:
    name: Build pipy euler images
    strategy:
      fail-fast: false
      matrix:
        platform:
          - linux/amd64
          - linux/arm64
        include:
          - platform: linux/amd64
            runner: ubuntu-latest
            suffix: amd64
          - platform: linux/arm64
            runner: [ self-hosted, ARM64 ]
            suffix: arm64

    runs-on: ${{ matrix.runner }}
    steps:
      - name: Login to DockerHub
        uses: docker/login-action@v3.3.0
        with:
          username: ${{ secrets.RELEASE_DOCKER_USER }}
          password: ${{ secrets.RELEASE_DOCKER_PASS }}

      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Build and Push
        run: |
          docker build --platform=${{ matrix.platform }} \
            -t flomesh/pipy:${{ inputs.tag }}-euler-${{ matrix.suffix }} \
            -f ./dockerfiles/Dockerfile.euler \
            --build-arg PIPY_VERSION=${{ inputs.tag }} \
            --push .

  euler-manifest:
    name: Create Docker manifest
    runs-on: ubuntu-22.04
    needs: [ euler ]
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3.2.0

      - name: Login to DockerHub
        uses: docker/login-action@v3.3.0
        with:
          username: ${{ secrets.RELEASE_DOCKER_USER }}
          password: ${{ secrets.RELEASE_DOCKER_PASS }}

      - name: Create Docker manifest
        run: |
          docker manifest create flomesh/pipy:${{ inputs.tag }}-euler \
            --amend flomesh/pipy:${{ inputs.tag }}-euler-amd64 \
            --amend flomesh/pipy:${{ inputs.tag }}-euler-arm64
          docker manifest push flomesh/pipy:${{ inputs.tag }}-euler