name: build-pipy-euler-image

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'pipy release tag'
        required: true
        type: string

jobs:
  euler:
    name: Build pipy euler images
    strategy:
      fail-fast: false
      matrix:
        platform:
          - linux/amd64
          - linux/arm64
        include:
          - platform: linux/amd64
            runner: ubuntu-latest
            suffix: amd64
          - platform: linux/arm64
            runner: [self-hosted, ARM64]
            suffix: arm64

    runs-on: ${{ matrix.runner }}
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3.2.0

      - name: Set up Docker Context for Buildx
        id: buildx-context
        run: |
          docker context create builders

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3.6.1
        with:
          version: latest
          endpoint: builders

      - name: Login to DockerHub
        uses: docker/login-action@v3.3.0
        with:
          username: ${{ secrets.RELEASE_DOCKER_USER }}
          password: ${{ secrets.RELEASE_DOCKER_PASS }}

      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Build and Push
        uses: docker/build-push-action@v6.9.0
        with:
          context: .
          file: ./dockerfiles/Dockerfile.euler
          platforms: ${{ matrix.platform }}
          tags: flomesh/pipy:${{ inputs.tag }}-euler-${{ matrix.suffix }}
          build-args: |
            PIPY_VERSION=${{ inputs.tag }}

  manifest:
    name: Create Docker manifest
    runs-on: ubuntu-22.04
    needs: [ euler ]
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3.2.0

      - name: Login to DockerHub
        uses: docker/login-action@v3.3.0
        with:
          username: ${{ secrets.RELEASE_DOCKER_USER }}
          password: ${{ secrets.RELEASE_DOCKER_PASS }}

      - name: Create Docker manifest
        run: |
          docker manifest create flomesh/pipy:${{ inputs.tag }}-euler \
            --amend flomesh/pipy:${{ inputs.tag }}-euler-amd64 \
            --amend flomesh/pipy:${{ inputs.tag }}-euler-arm64
          docker manifest push flomesh/pipy:${{ inputs.tag }}-euler