name: Cherry-pick PRs

on:
  pull_request:
    branches:
      - release/v1.4
    types: ['closed']

env:
  GITHUB_TOKEN: ${{ secrets.WORKFLOW_PAT }}

jobs:
  cherry_pick_main:
    runs-on: ubuntu-latest
    name: Cherry pick into main
    if: ${{ !startsWith(github.event.pull_request.title, '[backport]') && github.repository == 'flomesh-io/fsm' && github.event.pull_request.merged == true }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Cherry pick into main
        uses: korthout/backport-action@v3
        with:
          copy_assignees: true
          copy_labels_pattern: '[\s\S]+'
          copy_requested_reviewers: true
          github_token: ${{ secrets.WORKFLOW_PAT }}
          pull_title: '[cherry-pick] ${pull_title}'
          pull_description: 'Cherry picking #${pull_number} to `${target_branch}`.'
          target_branches: 'main'


