name: Release
on:
  push:
    tags:
      - "v*.*.*"

jobs:
  version:
    name: Set Version from git ref
    runs-on: ubuntu-24.04
    outputs:
      version: ${{ steps.version.outputs.version }}
    steps:
      - id: version
        run: echo "version=$(sed 's#^refs/tags/\(.*\)#\1#' <<< '${{ github.ref }}')" >> $GITHUB_OUTPUT

  binaries:
    name: Binaries
    runs-on: ubuntu-24.04
    needs: version
    env:
      VERSION: ${{ needs.version.outputs.version }}
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      HOMEBREW_RELEASE_PAT: ${{ secrets.HOMEBREW_RELEASE_PAT }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
          cache: false
      - name: Generate Release Notes
        run: scripts/release-notes.sh $VERSION > /tmp/release-notes.md
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          args: release --clean --parallelism 5 --release-notes /tmp/release-notes.md --verbose

  images:
    name: Docker Images
    needs: version
    strategy:
      matrix:
        id: [ "curl", "sidecar-init", "controller", "injector", "connector", "crds", "bootstrap", "preinstall", "healthcheck", "xnetmgmt", "ingress", "gateway" ]
    uses: ./.github/workflows/release-image.yml
    with:
      id: ${{ matrix.id }}
      version: ${{ needs.version.outputs.version }}
      image: fsm-${{ matrix.id }}
      dockerfile: ./dockerfiles/Dockerfile.fsm-${{ matrix.id }}
      package_helm_charts: true
    secrets: inherit

  demo-images:
    name: Demo Docker Images
    needs: version
    strategy:
      matrix:
        id: [ "bookbuyer", "bookthief", "bookstore", "bookwarehouse", "tcp-echo-server", "tcp-client" ]
    uses: ./.github/workflows/release-image.yml
    with:
      id: ${{ matrix.id }}
      version: ${{ needs.version.outputs.version }}
      image: fsm-demo-${{ matrix.id }}
      dockerfile: ./dockerfiles/Dockerfile.demo
    secrets: inherit

  helm-chart:
    name: Helm Chart
    runs-on: ubuntu-24.04
    needs: version
    env:
      VERSION: ${{ needs.version.outputs.version }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Exclude Charts
        run: |
          rm -rfv charts/gateway/
          rm -rfv charts/namespaced-ingress/
          rm -rfv charts/connector/
      - name: Helm Chart Version
        run: echo "HELM_CHART_VERSION=$(cut -c 2- ${{ env.VERSION }})" >> $GITHUB_ENV
      - name: Publish Helm Charts
        uses: stefanprodan/helm-gh-pages@v1.7.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          app_version: ${{ env.HELM_CHART_VERSION }}
          chart_version: ${{ env.HELM_CHART_VERSION }}
          linting: false

  xnet:
    name: Trigger Xnet Release
    runs-on: ubuntu-24.04
    needs: version
    env:
      VERSION: ${{ needs.version.outputs.version }}
    steps:
      - name: Repository Dispatch
        uses: peter-evans/repository-dispatch@v3
        with:
          token: ${{ secrets.REPOSITORY_DISPATCH_PAT }}
          repository: flomesh-io/xnet
          event-type: fsm-release
          client-payload: '{"version": "${{ env.VERSION }}"}'